:root {
    --heading-font-family: 'Playfair Display', serif;
    --main-font-family: 'Poppins', sans-serif;
    --color-brend1: rgb(233, 231, 231);
    --color-brand-dark: #0C161F;
    --color-blue-grey: rgb(120, 142, 164);

}

.logo {
    max-width: 80px;
}

nav {
    padding: 20px 20px 20px 20px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 44px;
    margin-left: 15px;

}

nav a {
    text-decoration: none;
    color: var(--color-brend1);
}

nav a:hover,
nav li.active a {
    color: var(--color-blue-grey);
    transition: all 100ms ease-in-out;
}


.hero {
    padding: 120px 20px 100px 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
p {
    margin: 0;
    line-height: 1.5;
    color: var(--color-brend1);
}


h1 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 62px;
}

h2 {
    font-family: var(--main-font-family);
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 30px;

}

h4 {
    font-family: var(--main-font-family);
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 12px;

}

p {
    font-family: var(--main-font-family);
    font-weight: normal;
    font-size: 30px;

}

.btn-brending {
    text-align: center;
    background: var(--color-brend1);
    color: var(--color-brand-dark);
    border-radius: 10px;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 30px;
}

.btn-brending:hover {
    background-color: rgb(120, 142, 164);

}

/* My projects */

.text-project {
    color: #25333C;
    font-size: 18px;
}

.img-project {
    width: 100%;
    height: auto;
}

.text-title-project {
    color: #25333C;
    font-size: 36px;
}

.text-description {
    color: #25333C;
    font-size: 18px;
}

.btn-brending-outline {
    border-radius: 10px;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 30px;
    border: 1px solid #20303D;
    color: var(--color-brand-dark);
}

.btn-brending-outline:hover {
    background-color: #20303D;
    color: var(--color-brend1);
}

footer {
    margin: 100px 0;
}

footer .contact-box {
    background-color: var(--color-brend1);
    padding: 30px;
    margin: 60px 260px 60px 260px;
    border-radius: 10px;
}

footer .footer-box-descr {
    color: var(--color-brand-dark);
    font-size: 20px;
}


.footer-title {
    text-align: center;
    font-size: 20px;
    color: var(--color-brand-dark);
}

footer .social-links a {
    margin: 0 20px;
    color: var(--color-brand-dark);
    background: var(--color-brend1);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: var(--color-brend1);
    background: var(--color-brand-dark);
}

@media (max-width: 900px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    .text-title-project {
        font-size: 24px;
    }

    .text-project {
        margin: 12px 24px 12px 24px !important;
    }

    .text-title-project {
        padding: 0;
        margin: 12px 24px 12px 24px !important;
    }

    .text-description {
        margin: 12px 24px 12px 24px !important;
    }

    .btn-brending-outline {
        margin: 12px 16px 12px 16px !important;
    }

    .logo {
        max-width: 44px;
    }

    footer {
        margin: 50px auto;
    }

    footer .contact-box {
        margin: 0px 0px 15px 0px;
    }

    footer .footer-box-descr {
        font-size: 16px;
    }

    footer .btn-brending-outline {
        font-size: 14px;
    }

}


/* About page */

.dark-section {
    margin: 0;
    padding: 0px 20px 160px 20px;
    background-image: url(/image/wallpaperbetter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-hero {
    margin: 40px 0 40px 0;
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 62px;
    line-height: 1;
}

.about-title-ptofession {
    font-family: var(--main-font-family);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.about-description {
    font-family: var(--main-font-family);
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 44px;
}

@media (max-width: 900px) {
    .about-section {
        text-align: center;
        padding: 80px 20px 120px 20px;
    }

    .about-hero {
        font-size: 44px;
    }

    .btn-brending {
        margin-bottom: 30px;
    }


}

/* Work page */

.work-section-description {
    text-align: left;
    font-size: 20px !important;
}

.light-section {
    padding: 48px 0 48px 0;
    background: var(--color-brend1);
}

.img-project {
    border: solid 0.5px #9d9b9b6b;
    width: 400px;
    border-radius: 5px;
    box-shadow: inset;
    display: block;
    margin: 0 auto;

}

.img-project:hover {
    width: 450px;
}

.projects-title {
    margin: 16px 0 16px 0;
}

.btn-projects-outline {
    border-radius: 10px;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 10px;
    border: 1px solid #20303D;
    color: var(--color-brand-dark);
}

.btn-projects-outline:hover {
    background-color: #20303D;
    color: var(--color-brend1);
}

.project-description {
    font-family: var(--main-font-family);
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 40px;
}

/* Contact page */
.contact-section {
    margin: 0 0 72px 60px;
}

.title-contacts {
    margin-bottom: 30px;
}

.contacts-element {
    font-size: 20px;


}

.contacts-list {
    list-style-type: none;

}

.contacts-list-item {
    padding-bottom: 20px;
}

.contact-link {
    text-decoration: none;
    color: var(--color-brend1);
}

.contact-link:hover {
    color: var(--color-blue-grey)
}

footer .social-media i {
    font-size: 28px;
    margin: 10px 26px;
    color: var(--color-brend1);
    padding: 10px 12px;
    border-radius: 50%;

}

.social-media {
    list-style-type: none;
    margin-bottom: 24px;

}

.icons-element {
    display: inline;
}




.footer-text {
    font-size: 15px;
    text-align: center;
}